<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Housing Duty Solicitor</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" ><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </head>

    <body>
        <h1 style="text-align: center">Housing Duty Solicitor</h1>
        <h2 style="text-align: center">You Are Eligible For Legal Aid</h2>
        <h3 style="text-align: center">Housing Solicitors and Law Centres in Southwark and Lambeth</h3>

        <h4 style="text-align: center">Southwark Law Centre</h4>
        <div class="text-center">
            <img src="../../static/main/southwarkCouncil.jpg" alt="SOUTHWARK LAW CENTRE IMAGE" style="text-align: center">
        </div>
        <p style="text-align: center">Address: Hanover Park House, 14-16 Hanover Park, London SE15 5HG</p>
        <p style="text-align: center">Telephone: 020 7732 2008</p>
        <br>

        <h4 style="text-align: center">Lambeth Solicitors</h4>
        <div class="text-center">
            <img src="../../static/main/lambethSolicitors.jpg" alt="LAMBETH SOLICITORS IMAGE" style="text-align: center">
        </div>
        <p style="text-align: center">Address: First Floor, 463-465 Brixton Rd, London SW9 8HL</p>
        <p style="text-align: center">Telephone: 020 7095 9995</p>
        <br>

        <h4 style="text-align: center">Ola Leslie Solicitors</h4>
        <div class="text-center">
            <img src="../../static/main/southwarkCouncil.jpg" alt="OLA LESLIE SOLICITORS IMAGE" style="text-align: center">
        </div>
        <p style="text-align: center">Address: 60 Borough High Street, London Bridge, Southwark, London SE1 1XF</p>
        <p style="text-align: center">Telephone: 020 7183 0084</p>


        <div class="text-center">
            <a href="/"><button class="btn btn-primary btn-small" style="width: 250px">GO BACK TO HOME PAGE</button></a>
        </div>
        <br>
    </body>
</html>
