<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Housing Duty Solicitor</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" ><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </head>

    <body>
        <h1 style="text-align: center">Housing Duty Solicitor</h1>
        <p style="text-align: center">This Application is for tenants of social landlords in Southwark and Lambeth who are being taken to court for rent arrears.<p>
        <p style="text-align: center">This Application is only suitable for those who are NOT eligible for Legal Aid.</p>
        <p style="text-align: center">If you are eligible for Legal Aid, this is your best outcome.</p>
        <h2 style="text-align: center">Click The Link Below To Check If You Are Eligible For Legal Aid</h2>
        <h3 style="text-align: center"><a href="https://www.gov.uk/check-legal-aid" target="_blank">https://www.gov.uk/check-legal-aid</a></h3>

        <div class="text-center">
            <a href="/eligible" ><button class="btn btn-primary btn-small" style="width: 250px">ELIGIBLE FOR LEGAL AID</button></a>
            <a href="/notEligible"><button class="btn btn-primary btn-small" style="width: 250px">NOT ELIGIBLE FOR LEGAL AID</button></a>
        </div>
    </body>
</html>
