<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Housing Advice</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" ><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </head>

    <body>
        <h1 style="text-align: center">Housing Advice</h1>
        <h2 style="text-align: center">You Are Not Eligible For Legal Aid.</h2>

        <form style="text-align: center">
            <label for="firstName">First Name:</label>
            <br>
            <input type="text" id="firstName" name="firstName">
            <br>

            <label for="lastName">Last Name:</label>
            <br>
            <input type="text" id="lastName" name="lastName">
            <br>

            <label for="rent">How Much Rent Do You Owe?:</label>
            <br>
            <input type="text" id="rent" name="rent">
            <br>

            <label for="lengthLived">How Long Have You Lived In Your Home?:</label>
            <br>
            <input type="text" id="lengthLived" name="lengthLived">
            <br>

            <label for="household">Who Lives With You In Your Household?:</label>
            <br>
            <input type="text" id="household" name="household">
            <br>

            <label for="income">What Is Your Income?:</label>
            <br>
            <input type="text" id="income" name="income">
            <br>

            <label for="physicalHealth">Is There Anyone In Your Household With Any Significant Physical Problems?:</label>
            <br>
            <input type="text" id="physicalHealth" name="physicalHealth">
            <br>

            <label for="mentalHealth">Is There Anyone In Your Household With Any Mental Health Problems?:</label>
            <br>
            <input type="text" id="mentalHealth" name="mentalHealth">
            <br>

            <label for="disrepair">Is There Any Disrepair To Your Home?:</label>
            <br>
            <input type="text" id="disrepair" name="disrepair">
            <br>
        </form>

        <div class="text-center">
            <br>
            <button class="btn btn-success" onclick="window.print();" style="width: 250px">PRINT</button>
        </div>

        <div class="text-center">
            <br>
            <a href="/"><button class="btn btn-primary btn-small" style="width: 250px">GO BACK TO HOME PAGE</button></a>
        </div>

    </body>
</html>
